<div class="video-wrapper">
    <header>
        <img src="../../assets/Tamuwa_H_White 1.svg" alt="Tamuwa" height="20px">
    </header>
    <video [autoplay]="true" [muted]="true" [loop]="true">
        <source src="../../assets/world.mp4" type="video/mp4">
    </video>
    <div class="overlay"></div>
    <div class="text">
        <h2>CYNK.io</h2>
        <h3>Powered by The Tamu Group</h3>
        <p>CYNK is a transparent blockchain platform using HEDERA Hashgraph technology, bringing high quality verified
            carbon
            credits to market.</p>
        <!-- <a href="#">Explore</a> -->
    </div>

    <!-- <ul class="social">
        <li>Facebook</li>
        <li>Twitter</li>
        <li>Instagram</li>
    </ul> -->
</div>