<div class="video-wrapper">
    <header>
        <h2>CYNK.IO</h2>
    </header>
    <video src="../../assets/world.mp4" autoplay muted loop controls></video>
    <div class="overlay"></div>
    <div class="text">
        <h2>CYNK.io</h2>
        <h3>Powered by The Tamu Group</h3>
        <p>CYNC is a transparent blockchain platform using HEDERA Hashgraph technology, bringing high quality verified
            carbon
            credits to market.</p>
        <a href="#">Explore</a>
    </div>

    <ul class="social">
        <li>Facebook</li>
        <li>Twitter</li>
        <li>Instagram</li>
    </ul>
</div>