<div class="video-wrapper">
    <header>
        <img src="../../assets/Tamu_corporate_H_White.png" alt="Tamuwa" height="30px">
    </header>
    <video [autoplay]="true" [muted]="true" [loop]="true" playsinline>
        <source src="../../assets/world.mp4" type="video/mp4">
    </video>
    <div class="overlay"></div>
    <div class="text">
        <img src="../../assets/cynk_logo.svg" alt="">
        <h3>Powered by Hedera</h3>
        <p>cynk is a transparent blockchain platform using Hedera Hashgraph technology, bringing high quality verified
            carbon
            credits to market.</p>
        <a href="#">Explore</a>
    </div>

    <!-- <ul class="social">
        <li>Facebook</li>
        <li>Twitter</li>
        <li>Instagram</li>
    </ul> -->
</div>